.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 34px;
    color: azure;
    font-family:monospace;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}