@media (max-width: 640px) {
  .info {
    flex-direction: column-reverse;
    padding: 5px;
    gap:5px;
  }

  .block_info {
    max-width: 80%;
    gap: 10px;
  }

  .inf_textes {
    max-width: 100%;
  }

  .inf_title {
    font-size: 22px;
  }

  .inf_text {
    font-size: 14px;
    max-width: 300px;
  }

  .info_img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 50px;
  }

  .separs_info {
    margin: 10px;
  }
}



/* Планшеты (600px — 899px) */
@media (min-width: 640px) and (max-width: 899px) {
  .info {
    flex-direction: row;
    padding: 20px;
  }

  .block_info {
    max-width: 80%;
    gap: 20px;
  }

  .inf_textes {
    max-width: 100%;
    text-align: center;
  }

  .inf_title {
    font-size: 24px;
  }

  .inf_text {
    font-size: 14px;
    max-width: 300px;
  }

  .info_img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50px;
  }

  .separs_info {
    margin: 10px;
  }
}

@media (max-width: 899px) {
  .tab {
    font-size: 32px;
  }

  .tab button {
    padding: 14px 40px;
    font-size: 24px;
    margin: 0 8px;
  }

  .tab button.active {
    font-size: 28px;
    border-bottom: 3px solid #C37021;
    background-color: transparent;
  }

  .tabcontent {
    padding: 10px 20px;
    border-radius: 0 0 40px 40px;
  }

  .tab_images {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab_img {
    max-width: 45vw;
    height: auto;
    border-radius: 25px;
  }
}

@media (max-width: 600px) {
  .tab {
    font-size: 14px;
    gap:5px;
    max-width: 600px;
  }

  .tab button {
    padding: 5px 30px;
}

  .tab button {
    padding: 10px 10px;
    font-size: 24px;
    margin: 0 8px;
  }

  .tab button.active {
    font-size: 28px;
    border-bottom: 3px solid #C37021;
    background-color: transparent;
  }

  .tab_images {
    gap: 20px;
    max-height: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab_img {
    max-width: 150px;
    height: 75px;
    border-radius: 25px;
  }
}

@media (max-width: 580px) {
  .tab {
    max-width: 500px;
  }

.tab_img {
  height: 75px;
  width: 150px;
}

}

@media (max-width: 470px) {

  .tab {
    font-size: 32px;
  }

  .tab button {
    padding: 5px 5px;
    font-size: 18px;
    margin: 0 2px;
  }

  .tab button.active {
    font-size: 19px;
    padding: 5px 5px;
    border-bottom: 3px solid #C37021;
    background-color: transparent;
  }

  .tab_img {
    max-width: 60px;
    max-height: 40px;
    border-radius: 25px;
  }

}

@media (max-width: 1035px) {

.reviews-carousel {
  width: 800px;
}

}

@media (max-width: 928px) {

.reviews-carousel {
  width: 600px;
}

.review-block {
  width: 400px;
}

}

@media (max-width: 827px) {

.reviews-carousel {
  width: 400px;
}

.review-block {
  width: 300px;
}

}

@media (max-width: 550px) {

.reviews-carousel {
  width: 300px;
}

.review-block {
  width: 290px;
}

}

@media (max-width: 438px) {

.review-text {
  font-size: 14px;
}

}

@media (max-width: 960px) {
  .adresses {
    flex-direction: row;
    gap: 10px;
    max-width: 90vw;
  }

  .adress_text {
    max-width: 350px;
  }

  .mapp {
    width:240px;
     height:200px;
  }
}

@media (max-width: 599px) {
  .adresses {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .adress_text {
    align-items: center;
    text-align: center;
    max-width: 90vw;
  }

  .adress_text .title {
    font-size: 20px;
  }

  .adress_text a.footer_link {
    font-size: 14px;
  }

  .mapp {
    width:300px;
     height:100px;
  }

}

@media (max-width: 400px) {

  .carousel-slide {
    margin: 0;
  }

}