.separs_info {
    display:flex;
max-width: 100%;
    height: auto;
    flex-direction: column;
    gap:25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.separ_mini {
max-width: 100%;
    height: auto;
}

.separ_max {
max-width: 100%;
    height: auto;
}