.tab {
    overflow: hidden;
    background-color: #282828;
    max-width: 1500px;
    width: 100%;
    border-radius: 50px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    display: flex;
    justify-content: center;
    font-size: 44px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px 60px;
    color: azure;
}

/* Change background color of buttons on hover */
.tab button:hover {
    transition: 0.6s;
    border-bottom: 3px solid #ffc289;
        color: rgb(243, 241, 187);
}

/* Create an active/current tablink class */
.tab button.active {
    transition: 0.4s;
    border-bottom: 3px solid #C37021;
    font-size: 48px;
    color: rgb(255, 140, 0);
}

/* Style the tab content */
.tabcontent {
    display: none;
    justify-content: center;
    padding: 6px 12px;
    border-top: none;
    max-width: 1500px;
    width: 100%;
    background-color: #343131;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}

.tabone {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tab_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.tab_img:hover {
    background-color: #c36f2195;
    transition: 0.4s;
    border-radius: 30px;
}